.footer{
     margin-top: 10px;

}
.socialMedia{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;

}

.socialMedia a{
    height: 35px;
    transition: all 0.3s ease;

}
.socialMedia a:hover{
    transform: scale(1.2);
}

.socialMedia .iconWrapper{
    width: 35px;
    height: 35px;
    /* border: 1px solid #575757; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.socialMedia a p{

    position: absolute;
    text-align: center;
    opacity:0;
    display: none;
    color: #000;
    font-size: 15px;
   
}

.socialMedia a:hover p{
    width: fit-content;
    opacity: 1;
    display: flex;
    transform: translate(0px,30px);
}

.copyright{
    width: fit-content;
    text-align: center;
    margin: 20px auto 10px
}

